{% extends "accounts/layout.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-lg border-0">
        <div class="card-body p-4">
          <h3 class="text-center mb-4" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
             Reset Password 
          </h3>
          <form action="#" method="post" autocomplete="off" id="resetForm">
            {% csrf_token %}
            {% if messages %}
              <div class="alert alert-info">
                {% for msg in messages %}
                  <div class="{{ msg.tags }}">{{ msg }}</div>
                {% endfor %}
              </div>
            {% endif %}
              <label for="form-control">Enter new Password</label>
            <div class="mb-3">
              <div class="input-group">
                <input type="password" class="form-control" name="password" placeholder="Enter new Password" id="password" required />
              </div>
            </div>
            <div class="mb-3">
              <label for="form-control">Confirm Password</label>
              <div class="input-group">
                <input type="password" class="form-control" name="cpassword" placeholder="confirm Password" required />
              </div>
            </div>
      
              <button type="submit" class="btn btn-primary">
                Reset Password
              </button>
                       <div class="text-center mt-3">
            <small>Back to Login ? 
              <a href="{% url 'login_user' %}" class="text-decoration-none">login</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
<script>
$(document).ready(function () {
  $("#resetForm").validate({
    rules: {
      password: {
        required: true,
        minlength: 8,
        maxlength: 15,
      },
      cpassword: {
        required: true,
        minlength: 8,
        maxlength: 15,
        equalTo: "#password",
      },
    },
    messages: {
      password: {
        required: "Please Enter password",
        minlength: "Password must atleast 8 characters",
        maxlength: "Password must below 15 characters",
      },
      cpassword: {
        required: "Please Enter confirm password",
        minlength: "Password must atleast 8 characters",
        maxlength: "Password must below 15 characters",
        equalTo: "please Enter same password ",
      },
    },
    submitHandler: function (form) {
      alert("Password Reset successfully");
      form.submit();
    },
  });
});

</script>

{% endblock content %}



