{% extends "admin/admin_home.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-9 mt-5">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">User_id</th>
      <th scope="col">Username</th>
      <th scope="col">Fist name</th>
      <th scope="col">Last name</th>
      <th scope="col" rowspan="2">Email</th>
      <th scope="col">password</th>
      <th scope="col">Phone No</th>
      <th scope="col">profile img</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{profile.id}}</th>
      <td>{{profile.username}}</td>
      <td>{{profile.f_name}}</td>
      <td>{{profile.l_name}}</td>
      <td>{{profile.email}}</td>
      <td>{{profile.password}}</td>
      <td>{{profile.phone_no}}</td>
      <td><img src="{{profile.profile_img.url}}" alt="no pic" style="width: 150px;height: 100px;"></td>


    </tr>
</table>
        </div>
    </div>
</div>

{% endblock content %}